.bing{
    color: blue !important;
    font-weight: bold !important;
    text-decoration: underline !important;

}

.bong{
    color: red !important;
    font-style: italic !important;
}

#bing{
    color: blue !important;
    font-weight: bold !important;
    text-decoration: underline !important;

}

#bong{
    color: red !important;
    font-style: italic !important;
}